@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.link {
		@apply hover:underline cursor-pointer;
	}
	.btn {
		@apply bg-[#EFEFEF] p-3 rounded-md ring-gray-200 text-sm text-gray-800 hover:ring-1 focus:outline-none active:ring-gray-300 hover:shadow-md;
	}
	.nav {
		@apply last:pr-24 cursor-pointer transition duration-100 transform hover:scale-125 hover:text-black active:text-red-500;
	}
}

@layer base {
	body {
		@apply bg-[#FAFAFA] text-gray-700;
	}
}
